.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
    flex-wrap: wrap;
    background-color: #181717;
    
}

.login-logo img{
    width: 18.75;
    height: 18.75;
}
.login-right{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-right h1{
    font-family: 'Roboto Slab';
    font-size: 3.125rem;

}

.login-right h4{
    font-family: 'Roboto Slab';
    font-weight: 300;
    padding: .7rem;
    font-size: .9rem;
    color: #ffffff;
}

.loginInputEmail{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3rem;
    width: 98%;
    border-radius: .4rem;
    padding: .3rem;
}

.loginInputEmail svg{
    height: 1.7rem;
    width: 1.5rem;
    padding: .3rem;

}
.inputGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13rem;
}

.loginInputEmail input{
    height: 2.3rem;
    width: 14rem;
    border-radius: 1rem;
    margin: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.836);
    color: black;
    padding: .2rem;
    text-align: start;
    font-weight: bold;
    cursor: pointer;

}
